#header{
    background: black;
    .logo{
        height: 55px;
        margin: 0 -15px;
    
        p{
            background: black;
            padding: 15px;
            color: white;
            width: 320px;
            
            
        }
    }
}
#header{
    background: #292929;
    .icon{
        i{
            padding: 10px 10px;
            background: #292929;
            color: white;
        }
    }
    .icon{
        background: #292929;
    }
}
#header{
    .myaccount{
    background: black;
    color: white;
    padding: 8px 10px;
    margin: 0 -15px;
}
}
#box1{
   .menu{
       ul{
           li{
padding: 25px 25px;
           }
       }
   } 
}
#box1{
.menu{
ul{
    padding: 20px;
right: 80px;
}
}
}
.icon{
    left: 800px;
            padding: 0 100px;
            top: -90px;
}
#box1{
.icons{
    position: absolute;
i{
    position: relative;
    right: 25px;
    top: 1px;
}
}
}
.logo{
    img{
        height: 12vh;
        margin: 20px;
    }
}
.box2{
i{
    left: 250px;
}
}
#box1{
    .box2{
        i{
            top: 25px;
            padding: 15px 25px;
        
            
        }
    }
}
.icon{
    left: -120px;
    top: 1px;
    padding: 1px;
}
.icon{
    .input{
        background: transparent;
    }
}
    #box11{
        color: white;
        background: url(../foto/slider1-1.jpg);
    padding: 250px 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1500px ;
    background-position: 99% 2%;
    }
    #new{
    .neww{
        .new1{
            h1{
            margin: 10px 10px;
            padding-right: 200px 100px;
            
            }
        }

    }
    }
    .new1{
        span{
            font-size: 50px;
            width: 100%;
        }
    }
    .new1{
    h1{
        p{
            margin-top: -48px;
            padding-left: 590px;
            font-size: 40px;
        }
    }
}
    #new{
        .neww{
            .new1{

                text-align: center;
                width: 50%;
            }
        }
    }
    
    #new{
        .new2{
        margin: 1px 1100px;
        line-height: 40px;
        
        
        }
    }
    #new{
    .new1{
      line-height: 30px;
      margin-bottom: -100px;
    }
}
.new1{
    
        margin: 10px 100px;
}
#new{
    .new2{
        button{
            padding: 5px 40px;
        border: none;
        }
    }
}
#new3{
    .box22{
        img{
        margin: 100px 15px;
        padding-left: 5px;
    }
}
}
.box22{
    .box-img22{
        img{
            padding-left: 30px;
            
        }

    }
}
#img00{
    .img77{
text-align: center;
padding: 30px;
padding-top: 200px;
margin-top: -150px;
    }
}
    .text{
        padding-left: 80px;
    }
    
    #video{
        .text2{
            margin-top: 50px;
        }
    }
    #video{
        background: gray;
    .text3{
        img{

            margin-left: 650px;
            margin-top: -1px;
            width: 100%;
            

        }
                    
                }
    }
    .text4{
        margin-right: 200px;
        margin-top: -290px;
        font-size: 16px;
        padding-top: 50px;
        
        
    }
    
    #reng{
        margin-top: 100px;
        padding-top: 100px;
        background: gray;
        height: 400px;
        margin: 90px;
        
    }
    #reng{
        .reng1{
            margin-right: 800px;
    
            
        }
    }
    .reng1{
        h2{
            p{
            margin-top: 200px;
            }
        }
    }
    #yeni{
        .yeni1{
            padding-top: 9px;
            
            
        }
    }
    .yeni2{
          margin-top: -140px;      
            }
            #yeni{
                .top{
                    margin: 90px;
                }
            }
            #foto{
                .foto1{
                    margin-top: 150px;
                    padding: 50px;
                    background: rgb(177, 174, 174);
                }
            }
            .foto1{
                img{
border-radius: 100px;
margin-left: 90px;
width: 110px;
height: 100px;
                }
            }
            .foto1{
                p{
                    margin-left: 270px;
                    margin-top: -70px;
                    font-size: 20px;
                }
            }
#xbox{
    background: rgb(177, 174, 174);
    margin-top: 150px;
    
    .xbox1{
        padding: 75px;
        top: 39px;
        
        p{
            padding: 2px 100px;
            margin-top: -120px;
        }
        
    }
}
.sekil{
    .img6{
        margin-left: 1075px;
        margin-top: -240px;
    }
}
.img7{
    padding: 70px;
    input{
width: 400px;
height: 40px;
float: right;
margin-right: -190px;
margin-top: -60px;
    }
}
#color{
    .color2{
        margin-top: 150px;
        h5{
            margin: 30px;
        }
    }
}

.color3{
    margin: 120px;
    margin-left: -150px;
    p{
margin-top: 30px;
    }
}
.color5{
    margin-top: 150px;
    h5{
        margin: 35px;

    }
}
.color1{
    margin-top: 115px;
    
    p{
margin: 35px;
margin-left: -90px;

    }
}
.color7{
margin-left: 450px;
    p{
margin-right: 30px;
    
        
    }
}